body {
     background: #ccf3ff
}

h1 {
    color: black;
    font-size: 32px;
    position: relative;
    right: 2px;
    bottom: 21px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
  font-size: 28px
}

h2 {
    color: black;
    font-size: 28px;
}

h3 {
    color: black;
    font-size: 25px;
}

h4 {
    color: black;
    font-size: 25px;
}

p, h2, h3, h4 {
                  text-align: center;
                  margin: 75px;
                  
}

nav{
  left: 40%;
  right: 5%;
  text-align: Center;
  font-size: 30px;
  background-color: #ccf5ff;
  height: 30px;
  line-height:40px;
  position: fixed;
  top: 0;
}

nav a{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; 
  padding: 20px;
  margin: 0px 13px
}

nav a:hover {
            background-color:  #d9d9d9;
}
nav a:hover::after {
                   opacity: 0.5;
}

img {
    width: 1200px;
    height: auto;
}